<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>설정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="item">
    <div class="title">버전정보</div>
    <div class="align-right" *ngIf="true">현재버전 {{appVersionNumber}}</div>
    <!-- <div class="align-right" *ngIf="false">업데이트 필요 {{appVersionNumber}}</div> -->
  </div>

  <div class="item">
    <div class="title">푸쉬 알림</div>
    <div class="sub-title">오전, 오후 9시에 할일 체크 알림 허용</div>
    <div class="align-right">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="item" (click)="openEmail()">
    <div class="title">문의하기</div>
    <div class="sub-title">불편 또는 개선사항을 알려주세요!</div>
  </div>

  <div class="item" tappable (click)="preparePopup()">
    <div class="title">이용약관</div>
  </div>

  <div class="item" tappable (click)="preparePopup()">
    <div class="title">개인정보 취급방침</div>
  </div>

  <div class="item" *ngIf="signStatus" tappable (click)="signout()">
    <div class="title">로그아웃</div>
  </div>

</ion-content>