page-setting {

    font-size: 17px;

    ion-content .scroll-content {
        background-color: #e5e5e5e5;
    }

    .content {
        width: 100%;
        background-color: white;
        margin-bottom: 6px;

        .item {
            position: relative;
            padding: 16px;
            border-bottom: 0.7px solid #e5e5e5e5;

            .align-right {
                position: absolute;
                // right: 16px;
                // top: 0;
                // left: 0;
                // right: 0;
                color: dimgray;
                font-size: 15px;
            }
            .align-right.app-version {
                margin-top: 3px;
            }
            .align-right .number {
                color: dimgray;
            }
            .align-bottom {
                display: block;
                font-size: 13px;
                color: dimgray;
                margin-top: 3px;
            }
        }
        ion-toggle {
            margin-top: 5px;
        }
    }
}