page-test {

    ion-content .scroll-content{
        overflow: hidden;
        padding-bottom: 0 !important;
        padding-top: 64px !important;
   }

    .test-content {
        background-color: color($colors, main);

        .todo-list-container {
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            
            hr {
                height: 0.75px;
                background-color: #bbb;
                margin: 0;
            }

            .add-todo {
                position: relative;
                z-index: 3;
                height: 55px;
                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    border: none;
                    padding: 3px 12px;
                }
            }

            .item-list {
                padding-top: 55px;
                margin-top: -55px;
                width: 100%;
                height: 100%;
                min-height: 500px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding-bottom: 12px;
            }

            .todo-item {
                position: relative;
                height: 60px;
                margin: 0 12px;
                padding: 12px 75px 12px 6px;
                border-bottom: 0.75px solid #bbb;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                .todo-input-text {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    // border: 0;
                    border-radius: 15px;
                    border: 1px dashed #BBB;
                    padding: 10px;
                    line-height: 20px;
                    background: transparent;
                    outline: none;  
                }
                .todo-input-label {
                    vertical-align: super;
                }

                .todo-input-check {
                    position: relative;
                    border: 0;
                    background: transparent;
                    -moz-appearance: none;
                    -ms-progress-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    margin-right: 8px;

                    // position: absolute;
                    // top: 50%;
                    // transform: translateY(-50%);
                }
                .todo-input-check:before {
                    content: "";
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-color: white;
                    border-radius: 24px;
                    border: 2px solid color($colors, main);;
                }
                .todo-input-check:checked:after {
                    content: "\2713";
                    display: inline-block;
                    font-size: 18px;
                    width: 24px;
                    height: 24px;
                    border-radius: 24px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 2px solid #bbb;
                    text-align: center;
                    color: #bbb;
                }
                .todo-input-check:checked + label {
                    text-decoration: line-through;
                    color: #bbb;
                }
                label input {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    border: none;
                }
                
                .handle-button {
                    position: absolute;
                    right: 9px;
                    top: 16px;
                    button {
                        margin: 0;
                        font-size: 12px;
                        width: 30px;
                        height: 30px;
                    }
                    button.activated {
                        ion-icon.edit, ion-icon.delete, ion-icon.complete {
                            color: #bbb;
                        }
                    }
                    ion-icon.edit, ion-icon.delete, ion-icon.complete {
                        color: rebeccapurple;
                    }
                    ion-icon.complete {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
